<div id="<%= dom_id request %>">
  <p>
    <strong>Uid:</strong>
    <%= request.uid %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= request.ip %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= request.method %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= request.url %>
  </p>

  <p>
    <strong>Parameters:</strong>
    <%= request.parameters %>
  </p>

</div>
